/* Conteneur principal */
.article{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

/* Elements du conteneur dans la première colonne */
.article__div{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
}

/* Element du conteneur dans la première colonne */
.article__figure{
    border: solid 2px black;
    box-shadow: 10px 5px 5px red;;
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px; 
    order: 1;  */
}

/* 
odd : impair
even : pair
*/

.article:nth-of-type(odd) .article__figure{
    order: -1;
}
.article:nth-of-type(even) .article__figure{
    order: 1;
}

.article__div h3{
    text-shadow: 2px -1px #6f6dff;
    padding-top: 10px;
}

.article__div p{
    background-color: rgba(255, 255, 255, 0.745);
    padding: 5px;
    border-radius: 3px;
    background: linear-gradient(rgb(194 54 54), rgba(33, 33, 148, 0));
    color: rgb(0, 0, 0);
}

.article__img{
    width: 250px;
    height: 150px;
}

.article__figcaption{
    background-color: white;
    margin: -3px auto;
    padding: 4px;
    border-bottom: 3px solid black;
}