*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formulaire fieldset{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    border: 3px solid #0000004a;
    margin: 10px 0 auto;
    background-color: rgba(0, 0, 0, 0.433);
    width: 400px;
    color: aliceblue;
}

.formulaire__div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

input{
    align-items: center;
}

.bouton__valider{
    align-items: center;
}