.global{
    background-color: rgb(196, 170, 0);
}

.centre{}

/********************************************** TEXTE *************************/
.global h1{
    max-width: 100%;
    font-size: clamp(1rem, 2.5vw, 2rem); /* pris de mdn web*/
    display: flex;
    padding-bottom: 10px;
    /* flex-basis: 60px;
    flex-grow: 1;
    flex-shrink: 0; */
    
}

.global h1, h2, h3{
    font-family: "DynaPuff", system-ui;
}

.recette__div li{
    font-family: "Montserrat", sans-serif;
}

/****************************************** ARTICLES ************************ */
.recette{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.recette__image{
    flex-grow: 0; 
    flex-shrink: 0;
    flex-basis: 325px;
}

.recette__img{
    display: block;
    width: 100%;
    margin: 0;
}

.recette:nth-of-type(odd) .recette__div{
    order: 1;
}

.recette:nth-of-type(even) .recette__div{
    order: -1;
}

.recette__figure{
    
    border: thick double #909394;
    border-radius: 4px;
    gap: 5px;
    transform: rotate(-5deg);
    transition: transform 1s cubic-bezier(.02,.65,.66,.96);
}

.recette__figure:nth-of-type(odd){
    transform: rotate(5deg);
}

.recette__figure:hover{
    transform: rotate(0deg);
}

.recette__figcaption{
    background-color: #00000043;
    text-align: center;
}

.recette__div{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
}

/* ***************************************** LOGO MAISON *********************** */

.fixed{
    position: fixed;
    top: 685px;
    right: 20px;
    z-index: 1; /* permet de controler la profondeur relative d'un élément */
    filter: none;
    transition: filter 1s;
}

.fixed:hover{
    filter: brightness(1.99) contrast(2.02) grayscale(0.96) hue-rotate(73deg) invert(0.73) saturate(2.64) sepia(0.76);
}

