#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.videos__titre{
    display: flex;
    justify-content: center;
    margin-right: 550px;
    color: white;
    text-shadow: 1px 1px 2px red,
        0 0 1em blue,
        0 0 0.2em blue;
}
