* {
    box-sizing: border-box;
}
 
html {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 
body {
    margin: 0;
    padding: 0;
}
 
.centre {
    max-width: 1100px;
    margin: 0 auto;
   /* border: 1px solid gray;*/
    background-color: rgba(255, 255, 255, 0.225);
    padding: 10px;
}
 
.haut,
.bas {
    background-color: #8f542f;
}
 
.milieu {
    background-color: rgba(80, 165, 214);
}
 
/************************************************************************************ENTETE*********/
.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 15px;
    gap: 20px;
}
 
.entete__titre h1 {
    margin: 0;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px #3ea7beb0;
}
 
.entete__titre h2 {
    margin: 0;
}
 
.entete__navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
.entete__navigation nav {}
 
.entete__navigation a {
    text-decoration: none;
    padding: 3px 3px;
    display: inline-block;
    color: white;
}
 
/**********************************************************************************PRINCIPALE***********/
.principale h2 {
    padding-left: 20px;
 
}
 
.principale__section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
}
 
.principale__article {
    flex-grow: 1;
    /*peut grandir*/
    flex-shrink: 0;
    /*peut pas se compresser*/
    flex-basis: 340px;
    /*représente largeur minimum de l'article*/
    /*border: 1px solid gray;*/
    background-color: rgba(255, 255, 255, 0.268);
    border-radius: 10px;
    padding-left: 10px;
 
}

figure{
    margin: auto;
    margin-bottom: 5px;
}

.images__article{
    width: 100%;
    padding-right: 10px;
} 
  
code { 
    font-style: italic; 
  
} 
  
.principale__article h3 { 
    font-weight: bold;
    margin: 5px;
}
 
/*******************************************************************************************PIED****************************************************/
.pied {
    background-color: #8f542f;
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    justify-content: space-between;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.225);
 
}
 
a {
    text-decoration: none;
    color: rgb(255, 255, 160)
}
 
ul {
    list-style: none;
}
 
.pied__section {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    font-size: 15px;
    /*margin: 22px;*/
 
}
 
.pied__section ul {
    list-style-type: none;
    padding: 11px 0;
    font-size: 1rem;
 
}
 
.pied__section li {
    list-style-type: none;
    padding: 7px 0;
    font-size: 1rem;
 
}
 
.pied__cite {
    display: block;
    font-size: 1rem;
    padding-top: 20px;
}
 
.pied__logos {
    display: flex;
    margin: 10px;
    gap: 47px;
    flex-basis: 40%;
    padding-right: 67px;
}
 
.pied__img {
    display: block;
    width: 100%;
}
 
.pied__figure {
    margin: 0;
}
 