* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/montreal-fall.webp");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;

 
}

.text {
    background-color: white;
    opacity: 0.88;
    width: 400px;
    height: 100%;
    box-shadow: 6px 3px 3px rgb(89, 89, 226);
    background-repeat: no-repeat;
}

h1 {
    padding-top: 25px;
    text-align: center;
    text-shadow: 5px 3px 5px rgb(0, 0, 0);
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
    opacity: 0.95;
    line-height: 1.5rem;
}

h3 {
    padding: 50px;
    padding-top: 60px;
    padding-left: 18px;
    text-align: left;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    padding: 18px;
    font-size: 17px;
    letter-spacing: 1px;
}

.addresse {
    margin-top: 45px;
    margin-left:  18px;
    text-align: start;
}

.logos {
    margin-top: 35%;
    letter-spacing: 15px;
    margin-left: 25px;
}

