*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
}

.centre{
    max-width: 1000px;
    margin: 0 auto;
}

section{
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.392);
    display: flex;
    flex-direction: row;
    /* height: 200px; */
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}

p{
    padding: 5px;
    border: 1px solid black;
    margin: 0;
}

.couleur-1{
    background-color: aquamarine;
    color: black;
}
.couleur-2{
    background-color: red;
    color: black;
}
.couleur-3{
    background-color: blue;
    color: black;
}
.couleur-4{
    background-color: rgb(0, 255, 60);
    color: black;
}

/* ============================================== .section-1 */
.section-1{
    justify-content: flex-end;
}
/* ============================================== .section-2 */
.section-2{
    justify-content: space-between;
}
/* ============================================== .section-3 */
.section-3{
    justify-content: space-around;
}
/* ============================================== .section-4 */
.section-4{
    justify-content: space-evenly;
    align-items: flex-start;
}