*{
    box-sizing: border-box;
}
html{
    font-size:14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    margin : 0;
    padding :0
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin : 0;
}
figure{
    margin : 0;
    padding: 10px 10px;
}

.haut, .bas{
    background-color: #f5f5dc;
}
.milieu{
     background-color: rgb(88, 227, 199);
}


.centre{
    max-width : 1100px;
    margin : 0 auto;
    background-color: #ffffff7a;
    padding: 30px 25px;
}
/* /////////////////////////////////////////////////////////// .entete */

.entete{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.entete__titre{
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    gap : 20px;
}

.entete__h1{
    font-size: 60px;
    margin-left: 18px;
    text-shadow: #00eaff 1px 0 10px;
}

.entete__navform{
    display : flex;
    flex-direction: column;
    align-items: flex-end;
}

.entete__nav{
    font-size: 12px;
    display: flex;
    gap: 23px;
    margin-right: 6px;
    
}

.entete__nav a{
    text-decoration: none;
    display: inline-block;
    background-color: rgba(72, 208, 208, 0.745);
    color: rgb(0, 0, 0);
    padding: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 4px;
    
}

.entete__sociaux{
    display: flex;
    gap: 20px;
    
}

/* /////////////////////////////////////////////////////////// .principal */


.principal{
    display:flex;
    flex-wrap: wrap;
    gap : 20px;
}

.principal__article {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;
}

.principal__article p {
    line-height: 1.7rem;
    font-size: 18px;
}

.principal__article h2{
    padding: 18px 0px;
    color: rgb(0, 0, 95);
}

.principal__figure {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;
}

.principal__figure  img{
    display : block;
    width: 100%;
    object-fit: cover;
}

figcaption{
    background-color: rgba(0, 0, 0, 0.211);
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* /
/* /////////////////////////////////////////////////////////// . pied */

.pied{
       display:flex;
    flex-wrap: wrap;
    gap : 20px; 
}

.pied__section{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
.pied__cours{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
.pied__resume{
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 390px;
}
.pied__sociaux{
    display:flex;
    gap : 20px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

ul {
    list-style: none;
}

.pied__section ul, .pied__cours ul {
    list-style-type: none;
    font-size: 1rem;
    padding: 11px 0;
}
 
.pied__section li, .pied__cours li {
    list-style-type: none;
    font-size: 1rem;
}