*{
    box-sizing: border-box;
}

html{
    font-size: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(13, 13, 112);
    box-shadow: rgba(0, 0, 0, 0.44) 0px 25px;
}

section{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.centre__entete section{
    background-color: rgba(255, 255, 255, 0.245);
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /***********************************************************************      checker le flex-wrap */
    
}
.centre__main{
    background-color: rgba(255, 255, 255, 0.245);
    max-width: 1100px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
    
}

.centre__pied{
    background-color: rgba(255, 255, 255, 0.245);
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}



/* ****************************************************************** ENTETE  */

.entete{
    background-color: rgb(213, 82, 0);  /***********************************************************    a checker */
}

.entete__contenu{
        flex-grow: 1;  /* peut grandir*/
    flex-shrink: 0; /* ne peut pas se compresser*/
    flex-basis: 340px; /* largeur minimal de l'article*/
}
.entete__gauche{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.labo__titre{
    font-size: 50px;
    margin: 0;
    text-shadow: 1px 1px 2px blue;
}

.auteur{
    font-size: 16px;
    margin-top: 1px;
}

.entete__droite{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    border-bottom: solid 2px;
}

nav{
    display: flex;
    gap: 28px;
    font-size: 10px;
    margin-bottom: 8px;
}

.entete_nav a{
    color: white;
    font-size: 14px;  
}

.entete__recherche{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(154, 59, 0, 0.378);
    margin-top: 10px;
}

.recherche__input{
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    
}

.entete__nav a:link{
    color: white;
    text-decoration: none;
}

.entete__nav a:hover{
    background-color: rgb(91, 67, 0);
}


/* ********************************************************************   MAIN    */

.main{
    background-color: rgb(0, 111, 189);
    
}

h2{
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.245);
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 15px;
    display: flex;
    
}

.article__centre{
    background-color: rgba(255, 255, 255, 0.397);
    flex-grow: 1;  /* peut grandir*/
    flex-shrink: 0; /* ne peut pas se compresser*/
    flex-basis: 340px; /* largeur minimal de l'article*/
    border: 1px ;
    border-radius: 10px;
}

article{
    font-size: 20px;
    margin-left: 4px;
    padding: 15px;
}

p{
    font-size: 13px;
    margin: 4px;
    margin-right: 10px;
}

cite{
    font-size: 14px;
    margin-left: 4px;
    margin-bottom: 10px;
}

/* ******************************************************************** PIED     */

.pied{
    background-color: rgb(213, 82, 0);
    color: white;
}

.liens{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}

.liens__titre{
    font-size: 18px;
}

.liens a:link{
    color: rgb(255, 234, 0);
    text-decoration: none;
}

.liens a:visited{
    color: rgb(255, 234, 0);
}



.adresse{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.adresse__titre{
    font-size: 18px;
}

.ul__adresse{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
}

.ul__adresse li{
    padding: 4px;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services__titre{
    font-size: 18px;
}

.ul__services{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
}

.ul__services li{
    font-size: 10px;
    padding: 4px;
}

.college{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.college__titre{
    font-size: 18px;
}

figcaption{
    font-size: 15px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.image__college{
    width: 100%;
}

/* *************************************************************************LOGOS PIED DE LA PAGE */

.logos{
    background-color: rgba(255, 255, 255, 0.245);
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    gap: 15px;
} 