*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulaire{

}

.formulaire fieldset{
    margin: 30px 0;
    border: 1px dotted #0000004a;
}

.formulaire__div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}